@tailwind base;
@tailwind components;
@tailwind utilities;

.collapse {
    visibility:unset !important;  
}

/*--------------------------*/
.qty-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.qty-container .input-qty{
  text-align: center;
  padding: 6px 10px;
  border: 1px solid #d4d4d4;
  max-width: 80px;
}
.qty-container .qty-btn-minus,
.qty-container .qty-btn-plus{
  border: 1px solid #d4d4d4;
  padding: 10px 13px;
  font-size: 10px;
  height: 38px;
  width: 38px;
  transition: 0.3s;
}
.qty-container .qty-btn-plus{
  margin-left: -1px;
}
.qty-container .qty-btn-minus{
  margin-right: -1px;
}


/*---------------------------*/
.btn-cornered,
.input-cornered{
  border-radius: 4px;
}
.btn-rounded{
  border-radius: 50%;
}
.input-rounded{
  border-radius: 50px;
}td, th {
  vertical-align: middle;
}th, td { 
  white-space: nowrap; /* impede quebra de linha */
  overflow: hidden;
  text-overflow: ellipsis; /* se o texto for muito grande, coloca reticências */
}

.text-comment {
  width: 20%;
}

.navbar-vertical.navbar-expand-lg{
  width: 19rem !important;
}